<p>customer-form works!</p>



<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">

    <div>
        <label>
            First Name:
            <input type="text" formControlName="name">
        </label>
    </div>
    <div>



        <label>
            address
            <input type="text" formControlName="address">
        </label>

    </div>

    <label>
        phone
        <input type="text" formControlName="phone">
    </label>



    <label>
        ico
        <input type="text" formControlName="ico">
    </label>



    <label>
        dic
        <input type="text" formControlName="dic">
    </label>


    <button [disabled]="this.customerForm.invalid">
        submit
    </button>

</form>